@import "./base/typography.scss";
@import "./layouts/header.scss";
@import "./layouts/location.scss";
@import "./layouts/accueil.scss";
@import "./layouts/fonctionnement.scss";
@import "./layouts/restaurants.scss";
@import "./layouts/footer.scss";



.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #db34b7; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

header a {
  position: absolute;
  left: 20px;
  color: #000;
}


.banner img {
  object-fit: cover;
  width: 100%;
  height: 275px;
  @media (min-width:769px) {
    height: 383px;
  }
}   



.menu {
  background-color: #f6f6f6;
  position: relative;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  @media (min-width: 769px) {
    width: 80%;
    margin:auto;
  }
  & h2 {
    font-family: 'shrikhand';
    font-size: 28px;
    font-weight: 400;
    margin-left: 20px;
  }
 .menu_title_restaurant {
  display: flex;
  @media (min-width: 769px) {
    justify-content: center;
 }
}
 .menu_icon {
  font-size: 24px;
  margin-top: 28px;
  margin-left: 10px;
 }
  h3 {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    position: relative;
    margin: 20px 0 22px 6px;
    @media (min-width: 769px) {
      margin-left: 80px;
      }
  }
  h3:after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    top: 24px;

  }
  .list {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
    padding: 12px 22px 12px 10px;
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
    animation: menu_list 1s ease both;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 30px -12px;
    
    @media (min-width: 769px) {
      margin-left: 80px;
      margin-right: 80px;
    }
  }
}
.list_title {
  margin: 0;
}

.list_subtitle {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




.btn {
  padding-top: 20px;
  padding-bottom: 20px;
&_commander {
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9)); 
  text-decoration: none;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, .07);
  padding: 15px 20px;
  display: flex;
  width: 30%;
  justify-content: center;
  background-color: #999;
  margin: auto;
  
}
}


